<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002211949778-8frchq1hapqa7kvpi3b62gt3ciaplda4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002211949778-8frchq1hapqa7kvpi3b62gt3ciaplda4</string>
	<key>API_KEY</key>
	<string>AIzaSyAwI0fG3qhqZXg6ha6FC9kOIrUt3WQFv6M</string>
	<key>GCM_SENDER_ID</key>
	<string>1002211949778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JH.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-f148f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-f148f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002211949778:ios:ec1adc3dbd5e989570410b</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-f148f.firebaseio.com</string>
</dict>
</plist>